<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="bg-red-500 p-2 mb-3 text-white">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-8">
    <%= form.text_field :title, placeholder: 'Title', class: 'block border border-grey-light w-full p-3 rounded' %>
  </div>

  <div class="field mb-4">
    <%= form.rich_text_area :content, placeholder: "What's your question?..." %>
  </div>

  <div class="actions">
    <%= form.submit 'Publish', class: 'w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-600 duration-300 cursor-pointer' %>
  </div>
<% end %>
