<article class="bg-white rounded shadow-md p-5 mb-5">
  <header>
    <p class="text-right text-sm text-gray-400"><%= time_ago_in_words(post.created_at) %> ago</p>
    <h3 class="text-xl mb-1"><%= post.title %></h3>
    <p class="text-md text-gray-500 italic mb-3">
      by <%= post.user.name.familiar %>
    </p>
  </header>
  <main>
    <p class="text-sm text-gray-400 mb-3">
      <%= truncate(strip_tags(post.content.to_s), length: 150) %>
    </p>
  </main>
  <hr>
  <footer class="mt-3 text-right">
    <div class="flex items-center justify-between">
      <div>
        <% if current_user == post.user %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500 hover:text-red-700 underline' %>
          <%= link_to 'Edit', edit_post_path(post), class: 'text-green-500 hover:text-green-700 underline ml-3' %>
        <% end %>
      </div>
      <div class="flex items-center">
        <span class="flex items-center">
          <svg width="30" height="30" viewBox="0 0 80 80" fill="red" xmlns="http://www.w3.org/2000/svg">
            <path d="M39.7279 23.9285L36.8995 21.1C34.274 18.4745 30.713 16.9995 27 16.9995C23.287 16.9995 19.726 18.4745 17.1005 21.1C14.475 23.7255 13 27.2865 13 30.9995C13 34.7125 14.475 38.2735 17.1005 40.899L31.1813 54.9798C31.2016 55.0003 31.222 55.0208 31.2425 55.0413L38.3136 62.1124C38.7041 62.5029 39.216 62.6982 39.7279 62.6982" stroke="#C2CCDE" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M39.728 23.9283L42.5563 21.1C45.1818 18.4745 48.7428 16.9995 52.4558 16.9995C56.1688 16.9995 59.7298 18.4745 62.3553 21.1C64.9808 23.7255 66.4558 27.2865 66.4558 30.9995C66.4558 34.7125 64.9808 38.2735 62.3553 40.899L41.1421 62.1122C40.7516 62.5027 40.2398 62.698 39.728 62.698" stroke="#C2CCDE" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <%= post.likes_count %>
        </span>
        <%= link_to 'Show', post, class: 'py-2 px-5 ml-5 bg-blue-500 hover:bg-blue-700 duration-300 text-white rounded' %>
      </div>
    </div>
  </footer>
</article>
